include header.pug

main.main-content
  h1 #{titre}
  if produits.length
    .product-grid
      each produit in produits
        .product-card
          img.product-image(src="/" + produit.imageUrl, alt=produit.name)
          .card-body
            h3.card-title= produit.name
            p.card-text= `Prix: ${produit.price} €`
            form(action="/add-to-cart", method="POST")
              input(type="hidden", name="productId", value=produit._id)
              input(type="number", name="quantity", value=1, min=1)
              button.add-to-cart(type="submit") Ajouter au panier
  else
    p Aucun produit disponible pour cette recherche.

include footer.pug
